In [4]:
import pandas as pd
import numpy as np

In [5]:
tour = pd.read_csv('finaldata.csv')

In [6]:
tour.head()

,S.no,state,City,Place,URL,Best_time_to_visit,Distance,Place_desc
0,0,Himanchal Pradesh,Manali,1. Capture the Sceneries of Old Manali,https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...,October-June,2 km from city center,On the other side of the Manalsu river is a p...
1,1,Himanchal Pradesh,Manali,2. Engage in the Adventures of Solang Valley,https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...,October-June,8 km from city center,Solang Valley is one of the most popular tour...
2,2,Himanchal Pradesh,Manali,3. Jogini Waterfall,https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...,October-June,4 km from city center,Jogini Waterfall is located about 3 kilometre...
3,3,Himanchal Pradesh,Manali,4. Hadimba Temple,https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...,October-June,1 km from city center,"Hadimba temple, away from the hustle and bust..."
4,4,Himanchal Pradesh,Manali,5. Rohtang Pass,https://i.pinimg.com/564x/2a/09/43/2a09433e344...,October-June,16 km from city center,Rohtang pass is the stretch which connects Ma...

In [7]:
tour.shape

(2989, 8)

In [8]:
tourism = tour[['state','City','Place','URL']]

In [9]:
tourism.head()

,state,City,Place,URL
0,Himanchal Pradesh,Manali,1. Capture the Sceneries of Old Manali,https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...
1,Himanchal Pradesh,Manali,2. Engage in the Adventures of Solang Valley,https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...
2,Himanchal Pradesh,Manali,3. Jogini Waterfall,https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...
3,Himanchal Pradesh,Manali,4. Hadimba Temple,https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...
4,Himanchal Pradesh,Manali,5. Rohtang Pass,https://i.pinimg.com/564x/2a/09/43/2a09433e344...

In [10]:
tourism

,state,City,Place,URL
0,Himanchal Pradesh,Manali,1. Capture the Sceneries of Old Manali,https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...
1,Himanchal Pradesh,Manali,2. Engage in the Adventures of Solang Valley,https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...
2,Himanchal Pradesh,Manali,3. Jogini Waterfall,https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...
3,Himanchal Pradesh,Manali,4. Hadimba Temple,https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...
4,Himanchal Pradesh,Manali,5. Rohtang Pass,https://i.pinimg.com/564x/2a/09/43/2a09433e344...
...,...,...,...,...
2984,Kerela,Poovar,5. The Fishing Village,NaN
2985,Kerela,Poovar,6. Cruises,NaN
2986,Kerela,Poovar,7. Kovalam Beach,NaN
2987,Kerela,Poovar,8. Boat Race,NaN
2988,Kerela,Poovar,9. Ayurveda,NaN

In [11]:
tourism.isnull().sum()

state       0
City        0
Place       0
URL      2551
dtype: int64

In [12]:
tourism.duplicated().sum()

0

In [13]:
tourism.iloc[0].Place

' 1. Capture the Sceneries of Old Manali '

In [14]:
tourism['Place'] = tourism['Place'].apply(lambda x:x.split())

C:\Users\shivi\AppData\Local\Temp\ipykernel_10804\1564893881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tourism['Place'] = tourism['Place'].apply(lambda x:x.split())

In [15]:
tourism['City'] = tourism['City'].apply(lambda x:x.split())

C:\Users\shivi\AppData\Local\Temp\ipykernel_10804\4233413334.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tourism['City'] = tourism['City'].apply(lambda x:x.split())

In [16]:
#tourism['Distance'] = tourism['Distance'].apply(lambda x:x.split())

In [17]:
#tourism['Place_desc'] = tourism['Place_desc'].apply(lambda x:x.split())

In [18]:
tourism.head()

,state,City,Place,URL
0,Himanchal Pradesh,[Manali],"[1., Capture, the, Sceneries, of, Old, Manali]",https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...
1,Himanchal Pradesh,[Manali],"[2., Engage, in, the, Adventures, of, Solang, ...",https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...
2,Himanchal Pradesh,[Manali],"[3., Jogini, Waterfall]",https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...
3,Himanchal Pradesh,[Manali],"[4., Hadimba, Temple]",https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...
4,Himanchal Pradesh,[Manali],"[5., Rohtang, Pass]",https://i.pinimg.com/564x/2a/09/43/2a09433e344...

print(tourism['Place'].dtype)

In [19]:
if tourism['Place'].dtype == 'float':
    print("float")
else:
    print("no ")

no

In [20]:
def remove_numeric(lst):
    return list(map(lambda x: x if not x.isdigit() else '', lst))

# Apply the function to the 'place' column using the map() function
tourism['Place'] = tourism['Place'].map(remove_numeric)

# Print the updated DataFrame
tourism

C:\Users\shivi\AppData\Local\Temp\ipykernel_10804\910868520.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tourism['Place'] = tourism['Place'].map(remove_numeric)

,state,City,Place,URL
0,Himanchal Pradesh,[Manali],"[1., Capture, the, Sceneries, of, Old, Manali]",https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...
1,Himanchal Pradesh,[Manali],"[2., Engage, in, the, Adventures, of, Solang, ...",https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...
2,Himanchal Pradesh,[Manali],"[3., Jogini, Waterfall]",https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...
3,Himanchal Pradesh,[Manali],"[4., Hadimba, Temple]",https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...
4,Himanchal Pradesh,[Manali],"[5., Rohtang, Pass]",https://i.pinimg.com/564x/2a/09/43/2a09433e344...
...,...,...,...,...
2984,Kerela,[Poovar],"[5., The, Fishing, Village]",NaN
2985,Kerela,[Poovar],"[6., Cruises]",NaN
2986,Kerela,[Poovar],"[7., Kovalam, Beach]",NaN
2987,Kerela,[Poovar],"[8., Boat, Race]",NaN
2988,Kerela,[Poovar],"[9., Ayurveda]",NaN

In [21]:
tourism['Place'] = tourism['Place'].apply(lambda x: x[1:])

C:\Users\shivi\AppData\Local\Temp\ipykernel_10804\470623388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tourism['Place'] = tourism['Place'].apply(lambda x: x[1:])

In [22]:
tourism

,state,City,Place,URL
0,Himanchal Pradesh,[Manali],"[Capture, the, Sceneries, of, Old, Manali]",https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...
1,Himanchal Pradesh,[Manali],"[Engage, in, the, Adventures, of, Solang, Valley]",https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...
2,Himanchal Pradesh,[Manali],"[Jogini, Waterfall]",https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...
3,Himanchal Pradesh,[Manali],"[Hadimba, Temple]",https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...
4,Himanchal Pradesh,[Manali],"[Rohtang, Pass]",https://i.pinimg.com/564x/2a/09/43/2a09433e344...
...,...,...,...,...
2984,Kerela,[Poovar],"[The, Fishing, Village]",NaN
2985,Kerela,[Poovar],[Cruises],NaN
2986,Kerela,[Poovar],"[Kovalam, Beach]",NaN
2987,Kerela,[Poovar],"[Boat, Race]",NaN
2988,Kerela,[Poovar],[Ayurveda],NaN

In [23]:
print(tourism.columns)

Index(['state', 'City', 'Place', 'URL'], dtype='object')

In [24]:
tourism['City'] = tourism['City'].apply(lambda x:[i.replace(" ","") for i in x])
tourism['Place'] = tourism['Place'].apply(lambda x:[i.replace(" ","") for i in x])
#tourism['Best_time_to_visit'] = tourism['Best_time_to_visit'].apply(lambda x:[i.replace(" ","") for i in x])
#tourism['Distance'] = tourism['Distance'].apply(lambda x:[i.replace(" ","") for i in x])
#tourism['Place_desc'] = tourism['Place_desc'].apply(lambda x:[i.replace(" ","") for i in x])

C:\Users\shivi\AppData\Local\Temp\ipykernel_10804\1037799734.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tourism['City'] = tourism['City'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\shivi\AppData\Local\Temp\ipykernel_10804\1037799734.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tourism['Place'] = tourism['Place'].apply(lambda x:[i.replace(" ","") for i in x])

In [25]:
tourism

,state,City,Place,URL
0,Himanchal Pradesh,[Manali],"[Capture, the, Sceneries, of, Old, Manali]",https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...
1,Himanchal Pradesh,[Manali],"[Engage, in, the, Adventures, of, Solang, Valley]",https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...
2,Himanchal Pradesh,[Manali],"[Jogini, Waterfall]",https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...
3,Himanchal Pradesh,[Manali],"[Hadimba, Temple]",https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...
4,Himanchal Pradesh,[Manali],"[Rohtang, Pass]",https://i.pinimg.com/564x/2a/09/43/2a09433e344...
...,...,...,...,...
2984,Kerela,[Poovar],"[The, Fishing, Village]",NaN
2985,Kerela,[Poovar],[Cruises],NaN
2986,Kerela,[Poovar],"[Kovalam, Beach]",NaN
2987,Kerela,[Poovar],"[Boat, Race]",NaN
2988,Kerela,[Poovar],[Ayurveda],NaN

In [26]:
tourism['tags'] = tourism['City'] + tourism['Place']

C:\Users\shivi\AppData\Local\Temp\ipykernel_10804\1015784251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tourism['tags'] = tourism['City'] + tourism['Place']

In [27]:
tourism.head()

,state,City,Place,URL,tags
0,Himanchal Pradesh,[Manali],"[Capture, the, Sceneries, of, Old, Manali]",https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...,"[Manali, Capture, the, Sceneries, of, Old, Man..."
1,Himanchal Pradesh,[Manali],"[Engage, in, the, Adventures, of, Solang, Valley]",https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...,"[Manali, Engage, in, the, Adventures, of, Sola..."
2,Himanchal Pradesh,[Manali],"[Jogini, Waterfall]",https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...,"[Manali, Jogini, Waterfall]"
3,Himanchal Pradesh,[Manali],"[Hadimba, Temple]",https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...,"[Manali, Hadimba, Temple]"
4,Himanchal Pradesh,[Manali],"[Rohtang, Pass]",https://i.pinimg.com/564x/2a/09/43/2a09433e344...,"[Manali, Rohtang, Pass]"

In [28]:
tourism['tags'].head()

0    [Manali, Capture, the, Sceneries, of, Old, Man...
1    [Manali, Engage, in, the, Adventures, of, Sola...
2                          [Manali, Jogini, Waterfall]
3                            [Manali, Hadimba, Temple]
4                              [Manali, Rohtang, Pass]
Name: tags, dtype: object

In [29]:
new_tour = tourism[['state', 'City' ,'Place','URL','tags']]

In [30]:
new_tour

,state,City,Place,URL,tags
0,Himanchal Pradesh,[Manali],"[Capture, the, Sceneries, of, Old, Manali]",https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...,"[Manali, Capture, the, Sceneries, of, Old, Man..."
1,Himanchal Pradesh,[Manali],"[Engage, in, the, Adventures, of, Solang, Valley]",https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...,"[Manali, Engage, in, the, Adventures, of, Sola..."
2,Himanchal Pradesh,[Manali],"[Jogini, Waterfall]",https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...,"[Manali, Jogini, Waterfall]"
3,Himanchal Pradesh,[Manali],"[Hadimba, Temple]",https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...,"[Manali, Hadimba, Temple]"
4,Himanchal Pradesh,[Manali],"[Rohtang, Pass]",https://i.pinimg.com/564x/2a/09/43/2a09433e344...,"[Manali, Rohtang, Pass]"
...,...,...,...,...,...
2984,Kerela,[Poovar],"[The, Fishing, Village]",NaN,"[Poovar, The, Fishing, Village]"
2985,Kerela,[Poovar],[Cruises],NaN,"[Poovar, Cruises]"
2986,Kerela,[Poovar],"[Kovalam, Beach]",NaN,"[Poovar, Kovalam, Beach]"
2987,Kerela,[Poovar],"[Boat, Race]",NaN,"[Poovar, Boat, Race]"
2988,Kerela,[Poovar],[Ayurveda],NaN,"[Poovar, Ayurveda]"

In [31]:
new_tour['City'] = new_tour['City'].apply(lambda x:" ".join(x))

In [32]:
new_tour['Place'] = new_tour['Place'].apply(lambda x:" ".join(x))

In [33]:
 new_tour['tags'] = new_tour['tags'].apply(lambda x:" ".join(x))

In [34]:
new_tour

,state,City,Place,URL,tags
0,Himanchal Pradesh,Manali,Capture the Sceneries of Old Manali,https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...,Manali Capture the Sceneries of Old Manali
1,Himanchal Pradesh,Manali,Engage in the Adventures of Solang Valley,https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...,Manali Engage in the Adventures of Solang Valley
2,Himanchal Pradesh,Manali,Jogini Waterfall,https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...,Manali Jogini Waterfall
3,Himanchal Pradesh,Manali,Hadimba Temple,https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...,Manali Hadimba Temple
4,Himanchal Pradesh,Manali,Rohtang Pass,https://i.pinimg.com/564x/2a/09/43/2a09433e344...,Manali Rohtang Pass
...,...,...,...,...,...
2984,Kerela,Poovar,The Fishing Village,NaN,Poovar The Fishing Village
2985,Kerela,Poovar,Cruises,NaN,Poovar Cruises
2986,Kerela,Poovar,Kovalam Beach,NaN,Poovar Kovalam Beach
2987,Kerela,Poovar,Boat Race,NaN,Poovar Boat Race
2988,Kerela,Poovar,Ayurveda,NaN,Poovar Ayurveda

In [35]:
new_tour.to_csv("trialfinal.csv", index = False)

In [36]:
import nltk

In [37]:
from nltk.stem.porter import PorterStemmer
ps  = PorterStemmer()

In [38]:
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [39]:
new_tour['tags'] = new_tour['tags'].apply(stem)

In [40]:
new_tour['tags'][0]

'manali captur the sceneri of old manali'

In [41]:
 new_tour['tags'] = new_tour['tags'].apply(lambda x:x.lower())

In [42]:
new_tour['tags'][0]

'manali captur the sceneri of old manali'

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000 , stop_words = 'english')

In [44]:
vectors = cv.fit_transform(new_tour['tags']).toarray()

In [45]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [46]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [47]:
cv.get_feature_names_out()

array(['7th', 'aambi', 'aarti', ..., 'zoo', 'zoolog', 'zorb'],
      dtype=object)

In [48]:
ps.stem('manali captur the sceneri of old manali')

'manali captur the sceneri of old manali'

In [49]:
from sklearn.metrics.pairwise import cosine_similarity

In [50]:
similarity = cosine_similarity(vectors)

In [51]:
sorted(list(enumerate(similarity[0])),reverse = True,key = lambda x:x[1])[1:6]

[(46, 0.6761234037828132),
 (47, 0.6172133998483676),
 (32, 0.5714285714285713),
 (13, 0.5345224838248487),
 (17, 0.5345224838248487)]

In [52]:
new_tour

,state,City,Place,URL,tags
0,Himanchal Pradesh,Manali,Capture the Sceneries of Old Manali,https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...,manali captur the sceneri of old manali
1,Himanchal Pradesh,Manali,Engage in the Adventures of Solang Valley,https://i.pinimg.com/564x/e0/69/43/e06943cb6f2...,manali engag in the adventur of solang valley
2,Himanchal Pradesh,Manali,Jogini Waterfall,https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...,manali jogini waterfal
3,Himanchal Pradesh,Manali,Hadimba Temple,https://i.pinimg.com/564x/1c/ba/14/1cba141bf72...,manali hadimba templ
4,Himanchal Pradesh,Manali,Rohtang Pass,https://i.pinimg.com/564x/2a/09/43/2a09433e344...,manali rohtang pass
...,...,...,...,...,...
2984,Kerela,Poovar,The Fishing Village,NaN,poovar the fish villag
2985,Kerela,Poovar,Cruises,NaN,poovar cruis
2986,Kerela,Poovar,Kovalam Beach,NaN,poovar kovalam beach
2987,Kerela,Poovar,Boat Race,NaN,poovar boat race
2988,Kerela,Poovar,Ayurveda,NaN,poovar ayurveda

In [53]:
def recommend(tourism):
    city_match = new_tour[new_tour['City'] == tourism]
    state_match = new_tour[new_tour['state'] == tourism]
    
    if not city_match.empty:
        tour_index = city_match.index[0]
    elif not state_match.empty:
        tour_index = state_match.index[0]
    else:
        print("No matching city or state found.")
        return
    
    distances = similarity[tour_index]
    tour_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    
    #data = []
    for i in tour_list:
        print(new_tour.iloc[i[0]].Place, new_tour.iloc[i[0]].City , new_tour.iloc[i[0]].state , new_tour.iloc[i[0]].URL)
        #data.append(this_list)
        
    
    return

In [54]:
recommend('Nainital')

Nainital Ropeway Nainital Uttarakhand https://i.pinimg.com/564x/e5/13/68/e51368551769359865c2d033e277f6e3.jpg
Bhimtal Nainital Uttarakhand https://i.pinimg.com/564x/d0/9b/7a/d09b7a77984a5e6bf17aeae220422198.jpg
Sattal Nainital Uttarakhand https://i.pinimg.com/564x/16/64/d9/1664d96ea64823c7e7d3ad98731c0f46.jpg
Pangot Nainital Uttarakhand https://i.pinimg.com/564x/af/72/a5/af72a5b5f3ec4b9e78386d2c10b11078.jpg
Jeolikot Nainital Uttarakhand https://i.pinimg.com/564x/68/59/ab/6859abdc109a3995cf7349bcb70aecfb.jpg

In [55]:
def recommend(tourism):
    city_match = new_tour[new_tour['City'] == tourism]
    state_match = new_tour[new_tour['state'] == tourism]
    
    if not city_match.empty:
        tour_index = city_match.index[0]
    elif not state_match.empty:
        tour_index = state_match.index[0]
    else:
        print("No matching city or state found.")
        return
    
    distances = similarity[tour_index]
    tour_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    
    data = []
    for i in tour_list:
        final_list =[(new_tour.iloc[i[0]].Place),(new_tour.iloc[i[0]].City),(new_tour.iloc[i[0]].state),(new_tour.iloc[i[0]].URL)]
         
        data.append(final_list)
        
    
    return data

In [56]:
recommend('Nainital')

[['Nainital Ropeway',
  'Nainital',
  'Uttarakhand',
  'https://i.pinimg.com/564x/e5/13/68/e51368551769359865c2d033e277f6e3.jpg'],
 ['Bhimtal',
  'Nainital',
  'Uttarakhand',
  'https://i.pinimg.com/564x/d0/9b/7a/d09b7a77984a5e6bf17aeae220422198.jpg'],
 ['Sattal',
  'Nainital',
  'Uttarakhand',
  'https://i.pinimg.com/564x/16/64/d9/1664d96ea64823c7e7d3ad98731c0f46.jpg'],
 ['Pangot',
  'Nainital',
  'Uttarakhand',
  'https://i.pinimg.com/564x/af/72/a5/af72a5b5f3ec4b9e78386d2c10b11078.jpg'],
 ['Jeolikot',
  'Nainital',
  'Uttarakhand',
  'https://i.pinimg.com/564x/68/59/ab/6859abdc109a3995cf7349bcb70aecfb.jpg']]

In [57]:
import pickle

In [58]:
pickle.dump(new_tour,open('new_tour.pkl','wb'))

In [59]:

pickle.dump(similarity,open('similarity.pkl','wb'))

In [60]:
pickle.dump(tour,open('tour.pkl','wb'))